@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");
$primary:  #ED462F;
$secondary: #532FE6;
$warning: #F5B813;
$success: #6FAD6A;
$font-family-base: "Lato";
$font-family-secondary: "Anton";
$font-size-base: 0.875rem; // 14px
$h1-font-size: $font-size-base * 4.85714; // 68px
$h2-font-size: $font-size-base * 3.7142857; // 52px
$h3-font-size: $font-size-base * 2.857143; // 40px
$h4-font-size: $font-size-base * 2.285714; // 32px
$h5-font-size: $font-size-base * 1.5; // 21px
$badge-font-size: $font-size-base; // 14px